body{
    background-color: dodgerblue;
}
h1{
    text-align: center;
    font-size: 40px;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    margin-bottom:20px;
}
a{
    text-decoration: none;
    color:black;
    font-size:60px;
    background-color: white;
    border:5px solid black;
}
a:hover{
    background-color: dodgerblue;
    color:white;
}